<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/" class="header__logo">
                <img src="images/logo.png" width="101" height="32" alt="">
            </a>

            <ul class="header__info">
                <li>
                    <svg width="12.55" height="12.55">
                        <use href="/images/icons/icons.svg#calendar"></use>
                    </svg>
                    28 декабря
                </li>
                <li>
                    <svg width="12.41" height="12.41">
                        <use href="/images/icons/icons.svg#time"></use>
                    </svg>
                    3,5 часа
                </li>
            </ul>
        </div>
    </div>
</header>