// breakpoint

$sx: 320px;
$sm: 375px;
$mobile: 767px;
$tv: 768px;
$th: 992px;
$device: 1199px;
$ds: 1200px;
$dm: 1700px;
$dl: 1900px;

// font
$font-family: Gilroy, sans-serif;
$font-size: 12px;
$line-height: 19.4px;
$font-weight: 400;


// colors

$white: #fff;
$red: #FF3459;
$blue: #4252D1;
$blue-light: #0048FF;

$dark: #242731;
$dark-light: #272D3D;
$dark-extra-light: #303A53;
$gray: #D7D7D7;

$purple: #302E5A;
$purple-light: #332F65;